<html lang="en" ng-app="myLoginApp">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>SnackCart Dashboard</title>
    </head>
    <body>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
        <script src="assets/loginCtrl.js"></script>

        <div ng-controller="myLogin">

            <div class="container-fluid bg-dark">
                <!-- Content here -->
                <div class="row">
                    <div class="col-12 bg-light" style="padding: 15px; text-align: center; border-radius: 5px;">
                        <b> SnackCart Dashboard <br> Login Page</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 bg-dark" style="padding: 5px;">

                    </div>
                </div>
                <div class="row" ng-show="displayflags.isLoggedIn == true">
                    <div class="col-12 bg-dark" style="padding: 20px;">
                         <button type="button" class="btn btn-light btn-sm" style="width: 100%;" ng-click="logout()">Logout</button>
                    </div>
                </div>
                <div class="row">
                    <div id="loginform" class="container-fluid bg-light" style=" padding:10px; text-align: center; height: 100%;">
                        <form method="post">

                            <div class="container">
                                <label for="uname"><b>Username</b></label>
                                <input id="uname" type="text" placeholder="Enter Username" name="uname" required> <br>

                                <label for="psw"><b>Password</b></label>
                                <input id="upassword" type="password" placeholder="Enter Password" name="psw" required> <br>

                                <button type="submit" ng-click="login()">Login</button>
                            </div>

                        </form>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 bg-dark" style="padding: 5px;">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


